<IfModule mod_rewrite.c>      
RewriteEngine on
RewriteBase /

RewriteRule ^(favicon.ico)$ static/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/books/
RewriteRule ^(.*).txt$ static/empty [L]

RewriteRule ^comment/get static/empty [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^/books/
#RewriteCond %{REQUEST_URI} !^(/.*)+dispatch.fcgi/
#RewriteRule ^(.*)$ dispatch.fcgi/$1 [PT]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^(/.*).html
RewriteCond %{REQUEST_URI} !^/books/
RewriteCond %{REQUEST_URI} !^(/.*)+code.cgi/
RewriteRule ^(.*)$ code.cgi/$1 [PT]
</IfModule>
