BODY {
	background: #DDD;
	margin: 0px;
}
#selector {
	background: #AAA;
	border-bottom: 1px solid black;
	padding: 8px;
}
#footer {
	font-size: 0.75em;
	background: #AAA;
	border-top: 1px solid black;
	margin-top: 8px;
	padding: 8px;
}

#chap {
	width: 64px;
}
#page {
	width: 64px;
}
IMG {
	border: 0px;
}
