BODY {
	background: #DDD;
	margin: 0px;
}
#selector {
	background: #AAA;
	border-bottom: 1px solid black;
	padding: 8px;
}
#footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear:both;
  border: none;
  padding: 0px;
}

#chap {
	width: 64px;
}
#page {
	width: 64px;
}
IMG {
	border: 0px;
}
