$def with(results)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>CView Admin</title>
		<link rel="stylesheet" href="/static/cview.css" type="text/css">
		<script type="text/javascript" src="/static/cview.js"></script>
		<script type="text/javascript" src="/static/admin.js"></script>
	</head>
	<body>

<table width="100%" id="header">
<tr>
    <td><center><a href="/comic/list"><img src="/static/rule34_comics_top.png"></a></center></td>
</tr>
</table>

		<div class="padded">
<p>This page has only been tested in opera 10, yell at shish if it's broken in any other (recent) browser~
<table id="comiclist" border="1">
    <thead><tr>
		<th width="150"><a href="/admin?sort=title">Name</a></th>
		<th><a href="/admin?sort=pages">Pg.</a></th>
		<th>Tags</th>
		<th><a href="/admin?sort=posted&amp;way=desc">Posted</a></th>
		<th>Actions</th>
	</tr></thead>
	<tbody>
$for comic in results:
	$ disk_title = comic.get_disk_title()
	$ language = comic.get_language()
	<tr>
		<td><a href="/view#$disk_title--0--0">$comic.title</a> (<a href="#" onclick="rename($comic.id, &quot;$comic.title&quot); return false;">rename</a>)</td>
		<td>$comic.pages</td>
		<td><span style="float: right;">(<a href="#" onclick="edit_tags($comic.id, &quot;$comic.title&quot;, &quot;$comic.tags&quot;); return false;">edit</a>)</span><img src="/static/${language}.png" width="20" height="14"> $comic.tags</td>
		<td><span title="by $comic.owner.name ($comic.owner_ip)">$comic.posted</a></td>
		<td><a href="#" onclick="delete_comic($comic.id, &quot;$comic.title&quot;); return false;">delete</a></td>
	</tr>
$# end indent
	</tbody>
</table>

		</div>
	</body>
</html>
