$def with(results, session)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>CView Browser</title>
		<link rel="stylesheet" href="/static/cview.css" type="text/css">
		<script type="text/javascript" src="/static/cview.js"></script>
		<script type="text/javascript" src="/static/admin.js"></script>
	</head>
	<body>

<table width="100%" id="header">
<tr>
    <td><center><a href="/"><img src="/static/rule34_comics_top.png"></a></center></td>
    <td width="350">
    <form enctype="multipart/form-data" method="POST" action="/comic/upload">
		<table align='center'>
			<tr><td>Zip</td><td><input type="file" name="archive"></td></tr>
			<tr><td>Title</td><td><input type="text" name="title"></td></tr>
			<tr><td>Tags</td><td><input type="text" name="tags"></td></tr>
			<tr><td colspan="2"><input type="submit" style="width: 100%"></td></tr>
		</table>
	</form>
    </td>
</tr>
</table>

		<div class="padded">

<table id="comiclist" border="1">
    <thead><tr>
		<th width="150"><a href="/comic/list?sort=title">Name</a></th>
		<th><a href="/comic/list?sort=pages">Pg.</a></th>
		<th>Tags</th>
		<th width="75"><a href="/comic/list?sort=posted&amp;way=desc">Posted</a></th>
		$if session.is_admin:
			<th>Actions</th>
	</tr></thead>
	<tbody>
$for comic in results:
	$ disk_title = comic.get_disk_title()
	$ language = comic.get_language()
	<tr>
	$if session.is_admin:
		<td>
			<a href="/view#$disk_title--0--0">$comic.title</a>
			(<a href="#" onclick="rename($comic.id, &quot;$comic.title&quot); return false;">rename</a>)
		</td>
		<td><center>$comic.pages</center></td>
	$else:
		<td><a href="/view#$disk_title--0--0">$comic.title</a></td>
		<td><center>$comic.pages</center></td>
	$if session.is_user:
		<td>
			<span style="float: right;">(<a href="#"
			onclick="edit_tags($comic.id, &quot;$comic.title&quot;, &quot;$comic.tags&quot;); return false;">edit</a>)</span>
			<img src="/static/${language}.png" width="20" height="14"> $comic.tags
		</td>
	$else:
		<td><img src="/static/${language}.png" width="20" height="14"> $comic.tags</td>
	$if session.is_admin:
		<td><center><span title="by $comic.owner.name ($comic.owner_ip)">$comic.posted</a></center></td>
	$else:
		<td><center><span title="by $comic.owner.name">$comic.posted</a></center></td>
	$if session.is_admin:
		<td><center><a href="#" onclick="delete_comic($comic.id, &quot;$comic.title&quot;); return false;">delete</a></center></td>
	</tr>
$# end indent
	</tbody>
</table>

$if session.is_user:
	<p><center><small>Logged in as $session.username / <a href="/user/logout">Log Out</a></small></center>
$else:
	<p><center><small><a href="/user/login">Log In</a></small></center>
$# end indent
		</div>
	</body>
</html>
