$def with(page, results, session)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>CView Browser</title>
		<link rel="stylesheet" href="/static/_combined.css" type="text/css">
		<script type="text/javascript" src="/static/_combined.js"></script>
	</head>
	<body>

<table width="100%" id="header">
<tr>
	<td><center><a href="/"><img src="/static/rule34_comics_top.png"></a></center></td>
	<td width="350" id="uploader">
	<form enctype="multipart/form-data" method="POST" action="/comic/upload">
		<table align='center'>
			<tr><td>Zip</td><td><input type="file" name="archive"></td></tr>
			<tr><td>Title</td><td><input type="text" name="title"></td></tr>
			<tr><td>Tags</td><td><input type="text" name="tags"></td></tr>
			<tr><td colspan="2"><input type="submit" style="width: 100%"></td></tr>
			$ ppage = page-1
			$ npage = page+1
			<tr id="paginator"><td colspan="2"><center><small>
			$if ppage != 0:
				<a href="/comic/list/$ppage">Prev Page</a> |
			$else:
				Prev Page |
			$# end indent
				<a href="/comic/list/$npage">Next Page</a>
			</small></center></td></tr>
		</table>
	</form>
	</td>
</tr>
</table>

		<div class="padded">

<table id="livelist" class="comiclist" border="0">
	<thead><tr>
		<th width="150">Name</th>
		<th>Pg.</th>
		<th>Tags <input type="text" id="tag_search" onkeyup="live_search(this.value);"></th>
		<th width="75">Posted</th>
		<th>Actions</th>
	</tr></thead>
	<tbody id="livelistbody">
		<tr><td colspan='5'><center>Enter at least 2 letters to search for</center></td></tr>
	</tbody>
</table>

<table id="comiclist" class="comiclist" border="0">
	<thead><tr>
		<th width="150"><a href="/comic/list?sort=title">Name</a></th>
		<th><a href="/comic/list?sort=pages">Pg.</a></th>
		<th>
			<a href="javascript: search_prompt();">Tags</a>
		</th>
		$if session.is_admin:
			<th><a href="/comic/list?sort=rating&amp;way=desc">Rating</a></th>
		<th width="75"><a href="/comic/list?sort=posted&amp;way=desc">Posted</a></th>
		<th>Actions</th>
	</tr></thead>
	<tbody id="comiclistbody">
$for n, comic in enumerate(results):
	$ disk_title = comic.get_disk_title()
	$ language = comic.get_language()
	$if n % 2 == 0:
		<tr class='a'>
	$else:
		<tr class='b'>
	$if session.is_admin:
		<td>
			<a href="/view#$disk_title--0--0">$comic.title</a>
			(<a href="#" onclick="rename($comic.id, &quot;$comic.title&quot); return false;">rename</a>)
		</td>
		<td><center>$comic.pages</center></td>
	$else:
		<td><a href="/view#$disk_title--0--0">$comic.title</a></td>
		<td><center>$comic.pages</center></td>
	$if session.is_user:
		<td>
			<span style="float: right;">(<a href="#"
			onclick="edit_tags($comic.id, &quot;$comic.title&quot;, &quot;$comic.tags&quot;); return false;">edit</a>)</span>
			<img src="/static/${language}.png" width="20" height="14"> $comic.tags
		</td>
	$else:
		<td><img src="/static/${language}.png" width="20" height="14"> $comic.tags</td>
	$if session.is_user:
		<td><!--
		$for n in range(1, 6):
			$if comic.rating < n:
				--><a title="Vote $n" onclick="vote($comic.id, $n); return false;"><img alt="Vote $n" src="/static/star_off.gif"></a><!--
			$else:
				--><a title="Vote $n" onclick="vote($comic.id, $n); return false;"><img alt="Vote $n" src="/static/star_on.gif"></a><!--
		--></td>
	$if session.is_admin:
		<td><center><span title="by $comic.owner.name ($comic.owner_ip)">$comic.posted</span></center></td>
	$else:
		<td><center><span title="by $comic.owner.name">$comic.posted</span></center></td>
	$# outdent
		<td><center>
			<a href="/comic/download/$comic.id/${disk_title}.cbz">download</a>
		$if session.is_admin:
			/ <a href="#" onclick="delete_comic($comic.id, &quot;$comic.title&quot;); return false;">delete</a>
		</center></td>
	</tr>
$# end indent
	</tbody>
</table>

<p><center><small>
$if session.is_user:
	Logged in as $session.username /
	<a href="/user/logout">Log Out</a>
$else:
	<a href="/user/login">Log In</a> /
	<a href="javascript: activate_local();">Local Mode</a> <!-- /
	<a href="javascript: deactivate_local();">Normal Mode</a> -->
$# end indent
</small></center>
		</div>

		<div id="alertbox" class="alertbox">
			<center><a href="javascript: clear_alerts();">Close</a></center>
			<div id="alerts" class="alerts"></div>
		</div>

		<div id="comicshade">
		</div>

		<div id="comicbox">
			<form id="selector">
				<a href="javascript: close_comicbox();">Back</a>
				<select id="book" onchange="initChapSelector();"></select>
				<select id="chap" onchange="initPageSelector();"></select>
				<select id="page" onchange="initDisplay();"></select>
				<select id="scale" onchange="setScale(this.options[this.selectedIndex].value);">
					<option value="">Original Width</option>
					<option value="100%">Page Width</option>
					<option value="50%">Half Page</option>
				</select>
				<a href="#" onclick="alert('Arrow up/down: scroll\nArrow right/left: next/prev page'); return false;">Help</a>
			</form>
			<a href="#" onclick="moveToNextPage(); return false;"><img id="display" src="/static/spinner.gif"></a>
			<!--<div id="comments"></div>-->
			<div id="footer">
				Images &copy; their respective owners
				<br><a href="http://code.shishnet.org/cview3/">CView3</a> &copy;
				<a href="http://www.shishnet.org/">Shish</a> 2009
			</div>
		</div>

	</body>
</html>
