$def with()
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Rule34c</title>
		<link rel="stylesheet" href="/static/cview.css" type="text/css">
		<script type="text/javascript" src="/static/cview.js"></script>
    </head>
    <body onLoad="init();">
		<center>
			<form id="selector">
				<a href="/comic/list">Browse</a>
				<select id="book" onChange="initChapSelector();"></select>
				<select id="chap" onChange="initPageSelector();"></select>
				<select id="page" onChange="initDisplay();"></select>
				<select id="scale" onChange="setScale(this.options[this.selectedIndex].value);">
					<option value="">Original Width</option>
					<option value="100%">Page Width</option>
					<option value="50%">Half Page</option>
				</select>
				<a href="#" onClick="alert('Arrow keys scroll up/down and move next/prev page'); return false;">Help</a>
			</form>
			<a href="#" onClick="moveToNextPage(); return false;"><img id="display" src="/static/spinner.gif"></a>
			<div id="comments"></div>
			<div id="footer">
				Images &copy; their respective owners
				<br><a href="https://github.com/shish/cview3">CView3</a> &copy;
				<a href="http://www.shishnet.org/">Shish</a> 2009
                <br><script id="_waubry">var _wau = _wau || []; _wau.push(["classic", "46z2m0ync436", "bry"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/classic.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
			</div>
		</center>
    </body>
</html>
