$def with()
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Rule34c</title>
		<link rel="stylesheet" href="/static/cview.css" type="text/css">
		<script type="text/javascript" src="/static/cview.js"></script>
    </head>
    <body onload="init();">
		<center>
			<form id="selector">
				<a href="/comic/list">Browse</a>
				<select id="book" onchange="initChapSelector();"></select>
				<select id="chap" onchange="initPageSelector();"></select>
				<select id="page" onchange="initDisplay();"></select>
				<select id="scale" onchange="setScale(this.options[this.selectedIndex].value);">
					<option value="">Original Width</option>
					<option value="100%">Page Width</option>
					<option value="50%">Half Page</option>
				</select>
				<!--
				<span id="buffering">
					Buffering 
					<img valign="center" src="/static/minispinner.gif">
				</span>
				-->
			</form>
			<a href="#" onclick="moveToNextPage(); return false;"><img id="display" src="/static/spinner.gif"></a>
		</center>
		<div id="comments"></div>
    </body>
</html>
